{% extends 'portfolio/base.html'%}

{% block content %}
    <h1>This is the new home page , style will be  <br>
    handled in the future </h1>
    <br>
    {% load static %}
    <h4>Image static</h4>
    <img src="{% static 'portfolio/daisy.jpg' %}">
    <br>
    <a href="{% url 'blog:all_blogs'%}"><h2>Voici un lien vers les articles</h2></a>
    <br>
    <a href="http://google.com">CV Mr CIMETTA</a><br>
    {% for project in projects %}

    <h2>{{ project.title }}</h2>
    <p><img src="{{ project.image.url }}" class="img-fluid mb-2" alt="dit moi"></p>
    <p>{{ project.description }}</p>

    {% if project.url %}

    <a href={{project.url}}>Let's go by Pierre.U </a>
    {% endif%}

    {% endfor %}

{% endblock%}
